<!DOCTYPE html>
<html>
  <head>
    <title>Eventbryte</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100i,300i,400i,700i,900i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      window.eventbryteAssets = {
        headerLogo: "<%= image_url("logo.png") %>",
        homeScreenImage: {
          1: "<%= image_url("home-image-1") %>"
        }
      }
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
